* {
font-family: Arial, Helvetica, sans-serif
}
h1 {
    font: 50px Museo Slab bold, serif;
    color: #2f8f00;
}
h2{
    font: 37px Museo Slab, serif;
    color: #2f8f00;
}
h3{
    font: 37px Museo Slab, bold, serif;
    color:#95ee6b;
}
p{
    font: 16px Verdana, sans-serif;
    color: #2f8f00;
}
.aside-text{
font: 16px Verdana bold, sans-serif
color: #ffffff;
}
li{
font: 16px Verdana, sans-serif;
color:#ffffff;
}

.page-footer{
    font: 12px Verdana, sans-serif;
    color: #95ee6b;
}

a{
  font: 16px Verdana, sans-serif;
}

.description{
    font: 16px Verdana bold, sans-serif;
}

.subdescription{
    font: 14px Verdana, sans-serif;
}
.container {
    
    margin: 10px auto 10px auto;  
    /* top, right, bottom, left */
    width:980px;
    height:5000px;
    
    background:#000000;
}

header {
    width: 100%;
    height: 50px;
   
    text-align: right;
}

.page-header{
     background:#000000;
}
.page-title{
 color: #48dd00;   
}

.article-header {
    background:#95ee6b;
    text-align: left;
}

.aside-header{
    color:#ffffff;
}

.current-page{
    color: #95ee6b;
}

aside {
    border: 1px solid #ffffff;
    background:#000000;
    /*color:#ffffff;*/
  height:1000px;
    width:30%;
    float: left;
    margin: 50px 0px 0px 10px;
    text-align:left;
    padding: 0px 10px 0px 10px;
   
}

aside li{
    list-style-position:outside;
    padding-top: 10px;
}

aside ul{
    padding:0;
}
nav{
    text-align:center;
    background:#95ee6b;
}
ul{
    list-style-type:none;
}


    .navigation{
 width:980px;
    list-style-type:none;
    margin:0;
    padding:0;
    background:#2f8f00;
    }
    .navlist{
    display:inline;
    float:left;
}
a{
    
    display: block;
    width:196px;
    background:#2f8f00;
    color:#95ee6b;
    }
    

.icon{
    width: 99px;
    height: 99px;
    padding: 20px;
}

.game{
    width: 450px;
    height: 450px;
    padding: 20px ;
}

article {
    
    background: #95ee6b;
    height:800px;
    float: left;
    padding left: 30px;
    padding:40px 40px 40px 40px;
    margin:50px 50px 50px 50px;
    
}

#page-footer {
    border: 1px solid #2f8f00;
    height:20px;
    clear: left;
    background:#2f8f00;
    /*color:#ffffff;*/
}

@media screen and (max-width: 992px) {
    .container{
        width:94%;
        
    }
    article{
        width:68%;
        height:60%;
    }
    aside{
        width:30%
        height:50%;
    }
    a{
        width:18%;
    }
}

@media screen and (max-width:786px){
    article{
        width:auto;
        height:auto;
        float:none;
        
    }
    aside{
        display:none;
        width:auto:
        height:auto;
        float:none;
    }
    a{
        width:auto:
    
    }
}

@media screen and (max-width:480px){
    aside{
        display:none;
    }
    article{
        width:90%
        height:auto;
        float:none;
    }
     a{
        width:auto:
        height:auto;
       
    }
}
