* {
font-family: Arial, Helvetica, sans-serif
}
h1 {
    font: 50px Museo Slab bold, serif;
}
h2{
    font: 37px Museo Slab, serif;
}
h3{
    font: 37px Museo Slab, bold, serif;
}
p{
    font: 16px Verdana, sans-serif;
}
.aside-text{
font: 16px Verdana bold, sans-serif
}
li{
font: 16px Verdana, sans-serif;    
}

.page-footer{
    font: 12px Verdana, sans-serif;
}

a{
  font: 16px Verdana, sans-serif;
}

.description{
    font: 16px Verdana bold, sans-serif;
}

.subdescription{
    font: 14px Verdana, sans-serif;
}
#wrapper {
    width: 980px;
    margin: 10px auto 10px auto;  
    /* top, right, bottom, left */
    height: 1000px;
    background:#ffffff;
}

header {
    width: 100%;
    height: 50px;
   
    text-align: right;
}

.page-header{
     background:#ffffff;
}
.page-title{
 color: #000000;   
}

.article-header {
    background:#ffffff;
    text-align: left;
}

aside {
    border: 1px solid #000000;
    background:#dddddd;
    /*color:#ffffff;*/
  height:432px;
    width:324px;
    float: left;
    margin: 10px 0px 0px 0px;
    text-align:left;
    padding: 20px 20px 20px 20px;
   
}
nav{
    text-align:center;
    background:#000000;
}
ul{
    list-style-type:none;
}


    .navigation{
 width:980px;
    list-style-type:none;
    margin:0;
    padding:0;
    background:#000000;
    }
    .navlist{
    display:inline;
    float:left;
}
a{
    
    display: block;
    width:245px;
    background:#000000;
    color:#ffffff;
    }
    



article {
    
    background: #ffffff;
    width:620px;
    height:1000px;
    float: left;
    padding left: 30px;
    padding:0px 15px 0px 15px;
    margin:0px 0px 0px 10px;
}

#page-footer {
    border: 1px solid #000000;
    clear: left;
    background:#dddddd;
    /*color:#ffffff;*/
}
