* {
font-family: Arial, Helvetica, sans-serif
}
h1 {
    font: 50px Museo Slab bold, serif;
    color: #2f8f00;
}
h2{
    font: 37px Museo Slab, serif;
    color: #2f8f00;
}
h3{
    font: 37px Museo Slab, bold, serif;
    color:#95ee6b;
}
p{
    font: 16px Verdana, sans-serif;
    color: #000000;
}
.aside-text{
font: 16px Verdana bold, sans-serif
color: #000000;
}
li{
font: 16px Verdana, sans-serif;
color:#ffffff;
}

.page-footer{
    font: 12px Verdana, sans-serif;
    color: #95ee6b;
}

body{ padding-top: 130px;}

a{
  font: 16px Verdana, sans-serif;
  color:#ffffff;
}

.description{
    font: 16px Verdana bold, sans-serif;
}

.subdescription{
    font: 14px Verdana, sans-serif;
}
.navbar
.navbar-inner{
    background-color: #007a00;
    background-image: none;
}
.container{
width=100%;
height=300px;
margin:0px;
background:#007a00;
}
.top-bar{
width=100%;
height=300px;
margin:0px;
background:#007a00;
background:#005200; 
}
.header{
    width: 100%;
    height: 50px;
   
    text-align: right;
}

.page-header{
    width:100%;
     background:#005200;
}
.page-title{
 color: #ffffff;   
}

.article-header {
    background:#ffffff;
    text-align: left;
}

.aside-header{
    color:#ffffff;
}

.current-page{
    color: #95ee6b;
}

aside {
   
  height:850px;
    width:30%;
    float: left;
    margin: 20px 20px 20px 20px;
    text-align:left;
    padding: 0px 10px 0px 10px;

   
}

.aside-left{
    border: 1px solid #66c266;
    background: #e6f5e6;
}

.aside-right{
    background: #ffffff;
    border: 1px solid #b2e0b2;
}
aside li{
    list-style-position:outside;
    padding-top: 10px;
}

aside ul{
    padding:0;
}
nav{
    text-align:center;
    background:#95ee6b;
}
ul{
    list-style-type:none;
}


    .navigation{
 width:980px;
    list-style-type:none;
    margin:0;
    padding:0;
    background:#2f8f00;
    }
    .navlist{
    display:inline;
    float:left;
}
a{
    
    display: block;
    width:196px;
    background:#2f8f00;
    color:#95ee6b;
    }
    

.icon{
    width: 80px;
    height: 80px;
    padding: 20px;
}

.game{
    width: 450px;
    height: 450px;
    padding: 20px ;
}

article {
    
    background: #ffffff;
  
    height:800px;
    float: left;
    padding left: 30px;
    padding:20px 40px 40px 40px;
    margin:50px 50px 50px 50px;
    
}

#page-footer {
    border: 1px solid #2f8f00;
    height:20px;
    clear: left;
    background:#2f8f00;
    /*color:#ffffff;*/
}

@media screen and (max-width: 992px) {
    .container{
        width:94%;
        
    }
    article{
        width:68%;
        height:60%;
    }
    aside{
        width:30%
        height:50%;
    }
    a{
        width:18%;
    }
}

@media screen and (max-width:786px){
    article{
        width:auto;
        height:auto;
        float:none;
        
    }
    aside{
        display:none;
        width:auto:
         height:auto;
        float:none;
    }
    a{
        width:auto:
    
    }
}

@media screen and (max-width:480px){
    aside{
        display:none;
    }
    article{
        width:90%
        height:auto;
        float:none;
    }
     a{
        width:auto:
        height:auto;
       
    }
}
